[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
bibliopixel = {editable = true,path = "./BiblioPixel"}
numpy = ">1"

[requires]
python_version = "3.7"
